/* * {
  border: black 1px solid;
} */

.ratingsReviews {
  margin: 0 auto;
}

.ratingsReviewsContainer {
  display: flex;
  /* width: 100%; */
  /* color: tomato; */
}

.ratingsContainer {
  flex: 30%
}

.reviewsContainer {
  flex: 70%;
  display: flex;
  flex-direction: column;
}

.buttonMarko {
  background-color: grey; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.buttonMarko:hover {
  background-color: firebrick;
}