# Folders
.DS_Store
node_modules
bower_components
coverage

# Files
*.log
package-lock.json
client/dist/app.bundle.js
client/src/components/RelatedProducts/config.js
client/components/Overview/config.js
client/src/components/QuestionsAndAnswers/config.js
lib/config.js

client/src/components/RatingsReviews/__tests__/*