.answers {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.answers-title {
  display: flex;
  margin-right: 1%;
  margin-top: 0;
}

.answer-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1%;
  margin-top: 3px;
}

.answer-body {
  width: 100%;
  display: flex;
  margin-bottom: 1%;
}

.answer__user {
  width: 100%;
  display: flex;
  margin-bottom: 2%;
  font-size: 13px;
}

.answer-button {
  width: 120px;
  display: flex;
  margin-right: 15%;
  margin-bottom: 2%;
  font-size: 13px;
  justify-content: center;
  background-color: whitesmoke;
  border: whitesmoke;
  cursor: pointer;
}

.photo-answer {
  display: inline-flex;
  flex-direction: row;
  margin: 5px;
  width: 100%;
  height: 100px;
  width: 100px;
  border-radius: 8px;
}