.modal-question {
  position: fixed;
}

.bottom-buttons-container {
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: right;
  justify-content: right;
}

.bottom-buttons {

  margin-bottom: 5px;
  margin-left: 30px;
  width: 30%;
  height: 35px;
  background-color: #ffffff;
  border-width: 1px;
  justify-content: center;
  font: medium;
  cursor: pointer;
}
