.modal-wrapper {
  width: 60%;
  max-width: 400px;
  margin: 4rem auto;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.modal-header {
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header span {
  font-size: 1rem;
  cursor: pointer;
}

.modal-content {
  padding: 1.5rem 1rem;

}

.modal-body {
  margin-bottom: 1rem;

}

.modal-body h3 {
  font-size: 1.8rem;
  color: palevioletred;
}

.modal-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin-bottom: 5px;
}