.galleryContainer {
  padding: 20px;
  /* background:lightgray; */
  border-radius: 10px;

}

.imageContainer {

width: 500px;
}

.carousel-root {

}



.gallerytitle {
  font-size: larger;
}

.photodiv {
  width: 500px;
  height: 600px;
position: relative;
}

.photo{
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: auto;
  height:auto; */
}


.thumbs-wrapper.axis-vertical {
  /* background-color: grey; */

}

.thumbs-wrapper {
top:400px;
}

.expanded {
  position: fixed;
  top: 0;
  left: 0;
  width:100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 5;

}

.expandedphoto {
  height: 100vh;
  width:auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


