.related-container {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: auto;
}

.title {
  position: absolute;
  color: black;
  font-weight: 100;
  font-family: sans-serif;
  margin: auto;
}

.related {
  order: 1;
  margin: 10px 0px;
}

.outfit {
  order: 3;
  margin: 10px 0px;
}

.container {
  order: 2;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 1000px;
  height: 350px;
  overflow: hidden;
  column-gap: 10px;
  margin: auto;
}

.outfit-container {
  order: 4;
  justify-content: start;
}

.productCard {
  margin-top: auto;
  margin-bottom: auto;
}

div.container > div:first-child {
  margin-left: 30px;
}

div.container > div:last-child {
  margin-right: 30px;
}

.right_arrow {
  position: absolute;
  font-size: 60px;
  text-align: center;
  z-index: 6;
  background-color: rgba(255, 255, 255, 0.4);
  top: 125px;
  right: -30px;
}

.left_arrow {
  position: absolute;
  font-size: 60px;
  text-align: center;
  z-index: 6;
  background-color: rgba(255, 255, 255, 0.2);
  top: 125px;
  left: -30px;
}

.hideLeftArrow {
  cursor: default;
  display: none;
}

.hideRightArrow {
  cursor: default;
  display: none;
}

.activeArrow {
  cursor: pointer;
}