/* CONTAINER SECTION */

.productContainer {
  /* background-color: grey; */
display: flex;
flex-direction: column;
height: 100%;

  padding: 20px;
}

.infocontainer {
  /* background-color: brown; */
  display: flex;
}


.saleContainer {

 display: flex;

}
/*
PRODUCT INFO SECTION */

.productinfocontainer {
  font-size: large;
  font-family: sans-serif;
}



.saleText {
  font-family: sans-serif;
  color: red;
  text-decoration: line-through;
  margin-right: 10px;

}


/*
STAR RATING SECTION */



.starr {
  width: 80px;
  height: 20px;
  position: relative;
  font-family: sans-serif;
}


.dark-starr, .rating-starr {
  color: pink;
  width: 80px;
  height: 20px;
  position: absolute;
  /* background: -webkit-linear-gradient(left, gold 60%, #333 40%);
  -webkit-background-clip: 'text';
  background-clip: 'text';
    -webkit-text-fill-color: transparent; */

}

.ratingContainer {
  width: 50%;
align-content: left;
}

.seeAll {
  width: 150px;
  font-family: sans-serif;
  font-size: small;
  margin-left: 77px;
  margin-top: -16px;

}

.socialButtons {
display: flex;
}

/*SOCIAL MEDIA BUTTONS */
.fB {
  background: #3B5998;
  color: white;
  border-radius: 30%;
  padding: 10px;
  margin: 2px;
}

.iG {
  background:crimson;
  color: white;
  border-radius: 30%;
  padding: 10px;
  margin: 2px;
}
.tW {
  background: #55ACEE;
  color: white;
  padding: 10px;
  border-radius: 30%;
  margin: 2px;
}

/* STYLE THUMBNAIL SECTION */
.thumbnailcontainer {

  width: 350px;

  /* background-color:white ; */
}

.stylecontainer {
  /* background-color: green; */
  font-family: sans-serif;
}

.thumbnailimg {
  border-radius: 75px;
  width: 75px;
  height:75px;
  display: block;
  z-index: 0;
}

.thumbnail {
  display: inline-block;
  padding: 5px;



}
.check {

  background-image: url('https://freeiconshop.com/wp-content/uploads/edd/checkmark-flat.png');
  background-position: top left;
  background-size: 30%;
  z-index: 10;

  background-repeat: no-repeat;

}






/*
ADD TO CART SECTION */

.addtocartcontainer {
  /* background-color: sandybrown; */
  display: flex;
  width: 300px;
margin-top: 20px;
  right: 350px;
  font-family: sans-serif;
}

.size_dropdown {
  color: black;
  /* background-color: skyblue; */
  height: 40px;
  width: 160px;
  font-family: sans-serif;
}

.quantity_dropdown {
  color: black;
  /* background-color: skyblue; */
  height: 40px;
  width: 75px;
  font-family: sans-serif;
}
.addtocartbutton {
  color:black;
  height: 40px;
  width: 200px;
  font-family: sans-serif;
}