.stylethumbnails {
  background-color:blue;
  width: 340px;
  position: absolute;
  right: 310px;
  top: 375px;
}


.thumbnailimg {
  border-radius: 75px;
  width: 75px;
  height:75px;
}




.thumbnail {
  display: inline-block;
 padding: 5px;

}



.addtocartcontainer {
  background-color: sandybrown;
  width: 300px;
  position: absolute;
  right: 350px;
  top: 620px;
}

.size_dropdown {
  color: black;
  background-color: skyblue;
  height: 40px;
  width: 160px;
}

.quantity_dropdown {
  color: black;
  background-color: skyblue;
  height: 40px;
  width: 75px;
}
.addtocartbutton {
  color:sienna;
  height: 40px;
  width: 200px;
}